@model IEnumerable<Product_CRUD.Models.categories>
@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories Of Products...!</h2>
<a href="@Url.Action("Categories","Home")" class="btn btn-outline-dark">Create New</a>
@*table started*@
<div class="container mt-5">
    <h2 class="mb-4">Select Categories</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Category Name</th>
                <th scope="col">Category Description</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
            <tr>
                    <th scope="row">@Html.DisplayFor(ModelItem => item.id)</th>
                    <td>@Html.DisplayFor(model => item.category_name)</td>
                    <td>@Html.DisplayFor(model => item.category_description)</td>
            </tr>
                }
        </tbody>
    </table>
</div>

