
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*@model MVC_Layout.Models.Employee *@

@RenderPage("~/Views/Employee/ShowData.cshtml")
    <a href="~/Employee/GetData">Insert Data</a>
    <a href="~/Employee/ShowData">Show Data</a>
